body{

    background-color: #0F1117;
    font-family: "Roboto";
    font-style: normal;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/*MENU BAR*/

.menu_bar{
    position: flex;
    width: 100%;
    height: 150px;
    flex: 1 0 auto;
    background: #2D303C;
}

.big_logo{

    position: absolute;
    width: 161px;
    height: 65px;
    left: 15%;
    top: 55px;
    
}
    
.bar_links{
    
    display: flex;
    flex-direction:row;
    gap: 120px;

    position: absolute;
    height: 40px;
    left: 55%;
    top: 87px;

    cursor: pointer;
    
}
    
.bar_link{
    
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
        
    color: #FFFFFF;
        
}

/*MAIN*/

.main{

position: absolute;
width: 100%;
height: 950px;
top: 150px;

background: #000000;
overflow: hidden;

}

.moon_pic{

    position: absolute;
    width: 572px;
    height: 560px;
    left: 55%;
    top: 10%;
    
    transform: rotate(1.09deg);
    
}
    
.h1_main{
    
    position: absolute;
    width: 563px;
    height: 24px;
    left: 15%;
    top: 15%;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}
    
    
.h4_main{
    
    position: absolute;
    width: 219px;
    height: 51px;
    left: 15%;
    top: 25%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22.4056px;
    line-height: 30px;
    
    color: #F5821F;
    
}

.order_button{

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    width: 220px;
    height: 60px;
    left: 15%;
    top: 60%;
    
    border: 1px solid #F69139;
    background: #F69139;
    border-radius: 4px;
    
    
    cursor: pointer;
    
}

.order_button:hover {
    border: 1px solid #f639a1;
    background-color: #f639a1;
    color: #fff;
  }

/*ABOUT GAME*/

.about_game{

position: absolute;
width: 100%;
height: 650px;
top: 950px;

background: #6C6D77;
overflow: hidden;

}

.about_game_prop{

    position: absolute;
    width: 118px;
    height: 196px;
    left: 75%;
    top: 20%;

    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    row-gap: 50px; /* Отступ между рядами */
    
}

.h1_agame{

    position: absolute;
    width: 240px;
    height: 58px;
    left: 15%;
    top: 10px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;
    
}

.h4_agame_h{

    position: absolute;
    width: 640px;
    height: 408px;
    left: 15%;
    top: 150px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;

}

.h4_agame{

    position: absolute;
    width: 630px;
    height: 408px;
    left: 15%;
    top: 150px;
    
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.h4_agame_tasks{

    position: absolute;
    width: 634px;
    height: 408px;
    left: 15%;
    top: 320px;
    
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;

    

}

.agame_tasks{

    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;

}

.about_vector1{

position: absolute;
width: 1663px;
height: 599;
left: -10%;
top: 70%;

}

.about_age{

position: absolute;
width: 82px;
height: 76px;
left: -85%;
top: -5%;

}

.about_group{

position: absolute;
width: 86px;
height: 86px;
left: -85%;
top: 45%;
    
}

.about_time{

    position: absolute;
    width: 80px;
    height: 75px;
    left: -85%;
    top: 95%;
    
}

.about_vector2{

position: absolute;
width: 1356px;
height: 562px;
left: 20%;
bottom: 80%;
transform: rotate(-2.18deg);
    
}

/*GAME RULES*/

.game_rules{

position: absolute;
width: 100%;
height: 1250px;
top: 1540px;

}

.h1_rules{

position: absolute;
width: 729px;
height: 58px;
left: 15%;
top: 100px;

font-family: 'Alegreya';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 58px;

color: #FFFFFF;

}

.h3_forbegin{
    position: absolute;
    width: 200px;
    height: 143px;
    left: 40%;
    top: 280px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;

}

.h4_forbegin{

position: absolute;
width: 790px;
height: 143px;
left: 40%;
top: 330px;

font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}

.h4_gameprocess{

position: absolute;
width: 730px;
height: 168px;
left: 15%;
top: 530px;

font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}

.h3_gp{
    position: absolute;
    width: 200px;
    height: 143px;
    left: 15%;
    top: 480px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;

}

.h4_steps{

position: absolute;
width: 730px;
height: 192px;
left: 40%;
top: 830px;

font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}

.h3_steps{

    position: absolute;
    width: 730px;
    height: 192px;
    left: 40%;
    top: 780px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.h4_towin{

position: absolute;
width: 735px;
height: 96px;
left: 15%;
top: 1130px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}

.h3_towin{

    position: absolute;
    width: 735px;
    height: 96px;
    left: 15%;
    top: 1080px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.forbegin_pic{

position: absolute;
width: 213px;
height: 228px;
left: 18%;
top: 250px;

}

.gameprocess_pic{

position: absolute;
width: 271px;
height: 261px;
left: 60%;
top: 470px;

}

.steps_pic{

position: absolute;
width: 222px;
height: 242px;
left: 18%;
top: 780px;
}

.towin_pic{

position: absolute;
width: 220px;
height: 252px;
left: 60%;
top: 1020px;

}

.order_button_rules{

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    width: 220px;
    height: 60px;
    left: 15%;
    top: 1300px;
    
    border: 1px solid #F69139;
    background: #F69139;
    border-radius: 4px;
    
    
    cursor: pointer;
    
}

.order_button_rules:hover {
    border: 1px solid #f639a1;
    background-color: #f639a1;
    color: #fff;
  }

/*GAME TABLE*/

.game_table{

position: absolute;
width: 100%;
height: 1025px;
top: 3000px;

background: #6C6D77;
overflow: hidden;

}

.h1_table{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 42%;
    top: 50px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;    
}

.table_vector1_pic{

    position: absolute;
    width: 1818px;
    height: 1071px;
    left: -10%;
    bottom: 500px;

}

.table_vector2_pic{

    position: absolute;
    width: 1818px;
    height: 1071px;
    left: 20%;
    top: 460px;

}

.table_fluxx_pic{

position: absolute;
width: 1090px;
height: 646px;
left: 20%;
top: 220px;

}

/*GAME PACKAGE*/

.game_package{

position: absolute;
width: 100%;
height: 1025px;
top: 4025px;

}

.h1_package{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 40%;
    top: 50px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;    
}

.package_pic{

    position: absolute;
    width: 1090px;
    height: 646px;
    left: 22%;
    top: 250px;
}

/*CARDS DESCRIPTION*/

.cards_description{

position: absolute;
width: 100%;
height: 1025px;
top: 5050px;

background: #6C6D77;
overflow: hidden;

}

.h1_description{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 40%;
    top: 55px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;    
}

.cards{

    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 250px 250px 250px;
    width: 100%;
    column-gap: 440px;
    row-gap: 100px; /* Отступ между рядами */
    bottom: 400px;
    transition: 0.2s;
    position: relative;
    left: 6%;
    top: 250px;
}

.card{

    width: 520px;
    min-height: 250px;
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    transition: 0.2s;
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

}

.description{

    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.des_vector1{

    position: absolute;
    width: 1818px;
    height: 1071px;
    left: 20%;
    bottom: 400px;
    
}

.des_vector2{

    position: absolute;
    width: 2018px;
    height: 1271px;
    left: -10%;
    top: 400px;

}

/*REVIEWS*/

.reviews{

position: absolute;
width: 100%;
height: 1025px;
top: 6075px;

}

.h1_review{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 15%;
    top: 55px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;   
}

.cards_review{

    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 250px;
    width: 100%;
    column-gap: 350px;
    row-gap: 100px; /* Отступ между рядами */
    bottom: 400px;
    transition: 0.2s;
    position: relative;
    left: 10%;
    top: 500px;
}

.review_card{

    width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    transition: 0.2s;
    position: relative;

    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    text-align: center;

}

.rev_name{
    position: relative;
    width: 250px;
    background: #C4C4C4;
    border: 10px solid #C4C4C4;
    color: #000000;
    left: 40%;
}

.rev{

    width: 425px;
    background: #C4C4C4;
    border: 20px solid #C4C4C4;
    color: #000000;

}

.review_photo{

    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #000000;
    border-radius: 180px;
    overflow: hidden;
    left: 45%;
    bottom: 250px;
}

.add_review_button{

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    width: 229.49px;
    height: 57px;
    left: 70%;
    top: 850px;
    
    border: 1px solid #00b2e3;
    background: #00b2e3;
    border-radius: 4px;
    
    
    cursor: pointer;
    
}

.add_review_button:hover {
    border: 1px solid #f639a1;
    background-color: #f639a1;
    color: #fff;
}


/*FLUXX GAME*/

.fluxx_game{

position: absolute;
width: 100%;
height: 1025px;
top: 7100px;

overflow: hidden;

background: #6C6D77;

}

.h1_fluxxgame{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 15%;
    top: 100px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;   
}

.h4_fluxxgame{

    position: absolute;
    width: 450px;
    height: 143px;
    left: 35%;
    top: 450px;
    
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF; 
}

.h2_price{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 75%;
    top: 550px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 58px;
    
    color: #FFFFFF;   
}

.game_order_button{

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    width: 229.49px;
    height: 57px;
    left: 71%;
    top: 650px;
    
    border: 1px solid #F69139;
    background: #F69139;
    border-radius: 4px;
    
    
    cursor: pointer;
    
}

.game_order_button:hover {
    border: 1px solid #f639a1;
    background-color: #f639a1;
    color: #fff;
}

.addons_button{

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    width: 400px;
    height: 57px;
    left: 62%;
    top: 750px;
    
    border: 1px solid #00b2e3;
    background: #00b2e3;
    border-radius: 4px;
    
    
    cursor: pointer;
    
}

.addons_button:hover {
    border: 1px solid #f639a1;
    background-color: #f639a1;
    color: #fff;
}

.game_vector1{

    position: absolute;
    width: 2018px;
    height: 1071px;
    left: -20%;
    bottom: 300px;
    
}

.game_vector2{

    position: absolute;
    width: 2018px;
    height: 1271px;
    left: -5%;
    top: 500px;

}

.game_pack_pic{


position: absolute;
width: 336px;
height: 336px;
left: 15%;
top: 350px;

}

/*ORDER FORM*/

.order_form{

position: absolute;
width: 100%;
height: 1025px;
left: 0px;
top: 8125px;

}

.h1_order_form{

    position: absolute;
    width: 729px;
    height: 58px;
    left: 15%;
    top: 100px;
    
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    
    color: #FFFFFF;   
}

.order_input_case{

    display: grid;
    grid-template-columns: 850px;
    grid-template-rows: 50px 50px 50px;
    width: 100%;
    row-gap: 20px; /* Отступ между рядами */
    bottom: 400px;
    transition: 0.2s;
    position: relative;
    left: 20%;
    top: 450px;
}

.input{

    font-size: 24px;
    color: #000000; 
    text-indent: 20px;
}

.order_form_button{

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    width: 229.49px;
    height: 57px;
    left: 71%;
    top: 515px;
    
    border: 1px solid #F69139;
    background: #F69139;
    border-radius: 4px;
    
    cursor: pointer;
    
}

.order_form_button:hover {
    border: 1px solid #f639a1;
    background-color: #f639a1;
    color: #fff;
}

.contacts{

position: absolute;
left: 15%;
right: 50%;
top: 85%;
bottom: 10%;

font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;
}

.company{

position: absolute;
left: 35%;
right: 20;
top: 85%;
bottom: 10%;

font-family: "Roboto", system-ui;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;

}